{% extends 'design/base.html' %}{% load static %}

{% load bootstrap3 %}

{% block design_content %}
    <script src="{% static 'components/file-saver/FileSaver.js' %}"></script>
    <script src="{% static 'js/design/three.min.js' %}"></script>
    <script src="{% static 'components/three/examples/js/controls/OrbitControls.js' %}"></script>
    <script src="{% static 'js/design/voxel.js' %}"></script>
    <script src="{% static 'js/design/stlexporter.js' %}"></script>
    <script src="{% static 'js/design/stlloader.js' %}"></script>
    <script src="{% static 'js/design/design.js' %}"></script>
{% endblock %}